body {
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-columns: 330px 3fr;
}
header {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 4;
	border-bottom: 1px solid #ccc;
}
.logo {
	height: 30px;
}
div#navbarSupportedContent {
	margin-left: 50px;
}
aside {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2; 
	overflow: auto;
}
.list-group-item > * {
        pointer-events: none;
}
section {
	grid-column-start: 2;
	grid-column-end: 4;
	padding: 10px;
}
div.dates_info p {
	display: inline-block;
}
.nav_link {
	border-bottom: 1px solid grey;
}
.nav-link:hover {
	border-bottom-color: black;
}
.sidebar .nav-link {
    font-weight: 500;
}
table input {
	text-align: center;
}
table th, table td {
	vertical-align: middle;
}

